body{
    font-family: 'Oswald', sans-serif;
    
}
body header{
    height: 100%;
    background-color: #fff9f4;
}
.do-margin-on-button{
    margin-left: 1em;
}
.dark-blue-font{
    color: #363958;
}
.orange-highlight{
    color: #FA804C;
}
.max-size{
    margin: 0;
    font-size: 65px;
    font-weight: bold;
}
.do-padding img{
    border-radius: 1em !important;
    background-color: #f1f1f1;
}
.do-padding{
    padding: 1em;
    padding-bottom: 0;
}
.do-padding-catagory2{
    padding: 1em;
    padding-bottom: 0;
}
.card-radius{
    border-radius: 1em;
    border: 0;
}
.buy-btn{
    background-image: linear-gradient(#3d4ff3, #3543bc);
    border-radius: .7em;
    padding: 1em 2em;
}
.last-section-img{
    width: 70px;
}
.last-section-img>img{
    width: 100%;}
.last-sections-parts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:85%;
    height: 130px;
    margin-bottom: 1em;
    background-color: #ffffff;
    border-radius: 1em;
}
.last-sections-info>h4{
    margin-bottom: .4em;
}
.last-sections-info{
    width: 60%;
}
.last-section-img-right{
    display: flex;
    align-items: center;
}
@media(max-width:576px){
    .last-sections-parts{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .catagory-heading{
        text-align: center;
    }
}